/** CSS RESET */

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


/** CUSTOM PROPERTIES */

:root {
    --blue: #3D84FD;
    --azure: #B5DDFF;
    --purple: #9792E4;
    --yellow: #F8C15F;
    --charcoal: #333;
}


/** UTILITIES */

.flex {
    display: flex;
}


/** Buttons */

.white-btn {
    color: black;
    background-color: white;
    border-radius: 25px;
    padding: 10px 20px;
}



/**General */

a {
    text-decoration: none;
    color: white;
}


/** Mobile Version */

@media screen and (min-width: 576px) {
    
    #navigator ul {
        display: none;
    }
    .card-cont {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .presentation-cards {
        width: 80%;
    }
    .presentation-cards:first-child {

        /* todo remove */
        height: 800px;
    }
    .planning-cont {
        flex-direction: column;
        align-items: center;
    }
    .col {
        flex-direction: column;
        align-items: center;
    }
}

/** Tablet Version */

@media screen and (min-width: 768px) {
   
    #navigator ul {
        display: none;
    }
    .container {
        max-width: 100%;
    }
    .card-cont {
        flex-direction: row;
    }
    .presentation-cards:first-child {
        flex-basis: calc((100% / 3 - 20px) * 2);
    }
    .presentation-cards {
        flex-basis: calc(100% / 3 - 40px);
    }
    .benefits-col {
        flex-basis: 50%;
    }
}

/** Desktop Version */

@media screen and (min-width: 1200px) {
    
    #navigator ul {
        display: flex;
        gap: 10px;
    }
    #navigator i {
        display: none;
    }
    #navigator li {
        list-style: none;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    .planning-cont {
        flex-direction: row;
        align-items: flex-end;
    }
    .benefits-col {
        flex-basis: calc(100% / 3);
        padding: 10px;
    }
}

/** Main CSS */

body {
    padding-top: 100px;
    font-family: 'PT Sans', sans-serif;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    height: 80px;
}

#navigator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}
li {
    padding: 0 10px;
}


/* First section: presentation */

.presentation-cards {
    background-color: var(--azure);
    border-radius: 20px;
    margin: 20px;
    padding: 30px;

    /* todo remove */
    height: 400px;
}
.phone {
    height: 50%;
    width: auto;
    object-fit: contain;
}
/* Second section: planning*/

#planning {
    background-color: var(--purple);
}
.col > img {
    
    margin: 20px;
    justify-content: center;

    /* todo remove */
    width: 500px;
    height: 500px;
    border: 2px dashed red;
}

/* todo remove */

.img {
    width: 500px;
    height: 500px;
    border: 2px dashed red;
}

.testimonials-card {
    background-color: var(--purple);
    border-radius: 20px;
    margin: 20px;
    height: 200px;
    width: 90%;
}


/* Testimonial section */


#benefits {
    background-color: var(--purple);
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.card {
    background-color: white ;
    min-height: 400px;
    font-size: 48px;
    font-weight: bold;
    border-radius: 25px;
}


/* About us section */





/* get started section */

#getstarted {
    background-color: var(--purple);
}
h1 {
    color: var(--yellow);
}


/*  footer section */

footer {
    background-color: var(--charcoal);
}