/** CSS RESET */

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}


/** CUSTOM PROPERTIES */

:root {
    --blue: #3D84FD;
    --azure: #B5DDFF;
    --purple: #9792E4;
    --yellow: #F8C15F;
}


/** UTILITIES */

.flex {
    display: flex;
}


/** Mobile Version */

@media screen and (min-width: 576px) {
    
    #navigator ul {
        display: none;
    }
    .card-cont {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .presentation-cards {
        flex-basis: 80%;
    }
    
}

/** Tablet Version */

@media screen and (min-width: 768px) {
   
    #navigator ul {
        display: none;
    }
    .card-cont {
        flex-direction: row;
    }
    .presentation-cards:first-child {
        flex-basis: calc((100% / 3 - 20px) * 2);
    }
    .presentation-cards {
        flex-basis: calc(100% / 3 - 40px);
    }
}

/** Desktop Version */

@media screen and (min-width: 1200px) {
    
    #navigator ul {
        display: flex;
        gap: 10px;
    }
    #navigator i {
        display: none;
    }
    #navigator li {
        list-style: none;
    }
    .container {
        max-width: 800px;
        margin: 0 auto;
    }
    
}

/** Main CSS */

body {
    padding-top: 100px;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--blue);
    height: 80px;
}

#navigator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 20px 20px;
    justify-content: space-between;
    align-items: center;
}
.presentation-cards {
    background-color: var(--azure);
    border-radius: 20px;
    margin: 20px;

    /* todo remove */
    height: 400px;
    /* flex-basis: 80%; */

}
.presentation-cards:first-child {
    
    /* todo remove */
    /* flex-basis: calc((100% / 3 - 20px) * 2); */
} 